/* @import url(https://fonts.googleapis.com/css?family=Ubuntu); */
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);

body {
    background: linear-gradient(9deg, #fefffc 0, #f9f9f9 100%) fixed;
    font-family: 'EK Mukta', Ubuntu, Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%
}

header {
    padding: .5em 1em;
    display: flex;
    justify-content: space-between
}

header h3 {
    color: #424242;
    font-size: 2em;
    margin: .6em;
    display: inline-block
}

nav li,
nav ul {
    margin: 0;
    padding: 0
}

nav li {
    color: #4b4f58;
    font-size: 1.41em;
    display: inline-block;
    margin: 1em .5em
}

.code-area {
    position: relative;
    height: 50%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #e0e0e0
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    width: 95%;
    font: 100% Consolas, Monaco, monospace;
    margin-bottom: 50px
}

.console-area,
.editor-area {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: .4em
}

.container:after {
    content: "";
    display: table;
    clear: both
}

#output {
    background: #f5f2f0;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    height: 45%;
    padding: 0em;
    overflow: auto;
}

sub {
    font-size: 12px;
    position: relative
}

.editor-area button {
    margin: .4em;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer
}

.hint-area button {
    margin: 0.1em 0;
    color: #555;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.5rem;
    letter-spacing: .04rem;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer
}

button {
    transition: all .2s ease-in-out
}

/* Editor Console Logs */
#console-logs {
    padding: 0 0.5em;
    list-style: none;
}

#console-logs li pre {
    font-size: 1.5em;
}

.log--default,.log--string {
    color: #000;
}

.log--number ,.log--boolean {
    color: blue;
}

.log--undefined {
    color: grey;
}

.log--error {
    color: red;
}

.log--object {
    color: darkcyan;
}

.log--array {
    color: darkblue;
}

.log--function {
    color: yellow;
}

@media (min-width:500px) {
    header {
        padding: 0.5em 6em;
    }

    #output-area {
        height: 30%
    }

    .code-area {
        height: 70%
    }

    .console-area {
        width: 40%
    }

    .editor-area {
        width: 55%
    }
}